.img {
  width: 4.5rem;
  border-radius: 50%;
}
.flex1 {
  display: flex;
  gap: 2rem;
}
.h1style {
  font-size: 1.5rem;
  font-weight: 500;
}
.h2style {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.635);
  font-weight: 500;
}
.title {
  padding-bottom: 3rem;
}
